@{
    ViewData["Title"] = "Không có quyền truy cập";
}

<h1>Truy cập bị từ chối</h1>
<p>Bạn không có đủ quyền để truy cập trang này. Vui lòng liên hệ quản trị viên nếu bạn tin đây là lỗi.</p>
<a asp-action="Index" asp-controller="Home">Trở về Trang chủ</a>