<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NH_FASHION</title>

    <meta name="description" content="NH_FASHION Website Thời Trang">
    <meta name="keywords" content="NH_FASHION, fashion, ecommerce, shop, clothes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NH_FASHION.styles.css" asp-append-version="true" />

</head>
<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li>
                <a href="#">
                    <span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                </a>
            </li>
        </ul>
        <div class="offcanvas__logo">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>

        <div class="offcanvas__auth">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Auth" asp-action="Logout">Đăng xuất (@User.Identity.Name)</a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel</a>
                }
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login">Đăng nhập</a>
                <a asp-controller="Auth" asp-action="Register">Đăng ký</a>
            }
        </div>
    </div>
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                            <li><a href="#">Nữ</a></li>
                            <li><a href="#">Nam</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Shop">Cửa hàng</a></li>
                            <li>
                                <a href="#">Trang</a>
                                <ul class="dropdown">
                                    <li><a asp-area="" asp-controller="Product" asp-action="Details">Chi tiết sản phẩm</a></li>
                                    <li><a asp-area="" asp-controller="Cart" asp-action="Index">Giỏ hàng</a></li>
                                    <li><a asp-area="" asp-controller="Checkout" asp-action="Index">Thanh toán</a></li>
                                    <li><a asp-area="" asp-controller="Blog" asp-action="Details">Chi tiết bài viết</a></li>
                                </ul>
                            </li>
                            <li><a asp-area="" asp-controller="Blog" asp-action="Index">Bài viết</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a></li>

                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                <li>
                                    <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin Panel</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("Admin"))
                                {
                                    <span>Xin chào, Quản trị!</span>
                                }
                                else
                                {
                                    <span>Xin chào, @User.Identity.Name!</span>
                                }
                                <a asp-controller="Auth" asp-action="Logout">Đăng xuất</a>
                            }
                            else
                            {
                                <a asp-controller="Auth" asp-action="Login">Đăng nhập</a>
                                <a asp-controller="Auth" asp-action="Register">Đăng ký</a>
                            }
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li>
                                <a href="#">
                                    <span class="icon_heart_alt"></span>
                                    <div class="tip">2</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon_bag_alt"></span>
                                    <div class="tip">2</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.nicescroll.min.js"></script>
    <script src="~/js/main.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>